version: "3.9"

services:
  app:
    build: .
    container_name: backend_app2
    volumes:
      - .:/var/www
    depends_on:
      - db
    networks:
      - backend

  nginx:
    image: nginx:alpine
    container_name: backend_nginx2
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - backend

  db:
    image: mysql:8
    container_name: backend_db2
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: api_db
      MYSQL_USER: user
      MYSQL_PASSWORD: secret
    ports:
      - "3307:3306"
    volumes:
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend

networks:
  backend:
